<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
       <% @photos.each do |i| %>
					<% image_tag p.image.url(:original) %>
				<% end %>
    </a>
  </div>
  ...
</div>